.sliderContainer {
  width: 100%;
  position: relative;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arrow_base {
  height: 1%;
  position: relative;
  top: 50%;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}
.arrow_base:hover {
  color: purple;
}
.arrow_left {
  left: -25px;
}
.arrow_right {
  right: -25px;
}

.slideCSS {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.slideTopBlank {
  height: 5%;
}

.slideTopCSS {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  cursor: pointer;
}
.slideTopCSS:hover {
  background-color: purple;
  color: white;
}

.slideImageCSS {
  width: 100%;
  height: 100%;
}

.slideTitleCSS {
  padding: 0 5%;
  font-size: 1.2rem;
  overflow: hidden;
  height: 20%;
  text-align: center;
}

.dotsContainerCSS {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.dotIcon {
  font-size: 1.5rem;
  margin: 0 3px;
  cursor: pointer;
}
.dotIcon:hover {
  color: purple;
}

/* ------------------------------------------------------------------ */
/* ----------  Modal  */
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal_top {
  display: flex;
  height: 20%;
}

.modal_topImage {
  width: 80%;
  height: 100%;
}

.modal_topRight {
  height: 100%;
  display: flex;
  flex-direction: column;
}
