.form {
  width: 95%;
  max-width: 50rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.sectionButtonsDelete {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
