.navBar {
  position: fixed;
  z-index: 10;
}

.navSide {
  position: fixed;
  z-index: 5;
}

.showOnMobile {
  display: block;
}

.hideOnMobile {
  display: none;
}

@media screen and (min-width: 450px) {
  .showOnMobile {
    display: none;
  }

  .hideOnMobile {
    display: block;
  }
}

.buttonNav {
  width: 85px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-white);
}

.buttonNav:hover {
  color: var(--color-seconday-main);
  transition: var(--transition);
}

.buttonNavCart {
  width: 50px;
}
