.boxPages {
  background-color: var(--color-seconday-transparency);
  padding-top: 10vh;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 1rem 0;
}

.button {
  border: none;
  border-radius: var(--borderRadius);
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--color-primary-dark);
  width: 250px;
  color: var(--color-white);
  align-self: center;
}
.button:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}
.button:active {
  background-color: var(--color-primary-dark);
}
